<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!-- Description -->
    <meta
      name="description"
      content="Cyannotation is an open color ontology, with an convenient set of individual colors. Let's make colors semantic!"
    />
    <!-- Keywords -->
    <meta
      name="keywords"
      content="{{title}}, color, colour, ontology, cyannotation, cyannotation.org, cyannotation.com"
    />
    <meta property="og:image" content="{{baseUrl}}images/logo.png" />
    <meta property="og:title" content="{{title}}" />
    <meta
      property="og:description"
      content="Cyannotation is an open color ontology, with an convenient set of individual colors. Let's make colors semantic!"
    />
    <meta property="og:url" content="{{baseUrl}}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Cyannotation" />
    <meta property="og:locale" content="en_US" />
    <!-- fb app id (default)-->
    <meta property="fb:app_id" content="966242223397117" />

    {% if isHomepage %}
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <link rel="stylesheet" href="./styles/page.css" />
    <link rel="stylesheet" href="./styles/homepage.css" />
    <link rel="icon" type="image/png" href="./icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./icon/favicon-16x16.png" sizes="16x16" />
    <!-- Sharing image -->
    {% else %}
    <link rel="stylesheet" href="../../styles/style.css" />
    <link rel="stylesheet" href="../../styles/navbar.css" />
    <link rel="stylesheet" href="../../styles/page.css" />
    <link rel="icon" type="image/png" href="../../icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../icon/favicon-16x16.png" sizes="16x16" />
    {% endif %}
  </head>
  <body>
    <header id="navbar">
      <div id="app-name-container">
        <a href="{{baseUrl}}" id="app-name-link">
          <div id="logo">
            <img
              src="{{baseUrl}}images/logo.png"
              alt="Cyannotation logo, a color palette"
            />
          </div>
          <span id="navbar-site-title">Cyannotation</span>
        </a>
      </div>
    </header>
    {% if isColorPage %}
    <div class="color-wrapper">{% block color_contents %} {% endblock %}</div>
    {% else %}
    <div class="wrapper">{% block body_contents %} {% endblock %}</div>
    {% endif %}
    <script type="text/javascript">
      window.doorbellOptions = {
        id: "13200",
        appKey: "FbfYfs1Tb3kHaZWcRhl3bfiMvUJJJ7Zj6Kk3Kk8krRo8guY80W1RK5UlQhIcnBv7"
      };
      (function (w, d, t) {
        var hasLoaded = false;
        function l() {
          if (hasLoaded) {
            return;
          }
          hasLoaded = true;
          window.doorbellOptions.windowLoaded = true;
          var g = d.createElement(t);
          g.id = "doorbellScript";
          g.type = "text/javascript";
          g.async = true;
          g.src =
            "https://embed.doorbell.io/button/" +
            window.doorbellOptions["id"] +
            "?t=" +
            new Date().getTime();
          (
            d.getElementsByTagName("head")[0] || d.getElementsByTagName("body")[0]
          ).appendChild(g);
        }
        if (w.attachEvent) {
          w.attachEvent("onload", l);
        } else if (w.addEventListener) {
          w.addEventListener("load", l, false);
        } else {
          l();
        }
        if (d.readyState == "complete") {
          l();
        }
      })(window, document, "script");
    </script>
  </body>
</html>
