{% extends "base.html" %} {% block body_contents %}
<div>
  <h1>Cyannotation</h1>
  <p class="iri"><span class="bold">IRI: </span><span>{{ontologyIri}}</span></p>
  <div class="view-options">
    <a class="view-option" href="{{webVowlUrl}}" target="_blank">Visualise on WebVowl</a>
    <a class="view-option" href="./{{ttlFilepath}}">View as .ttl</a>
    <a class="view-option" href="./{{xmlFilepath}}">View as .xml</a>
    <a class="view-option" href="https://quickerpicker.app/" target="_blank">
      Color Picker (beta!)
    </a>
    <a class="view-option" href="./tools/name-a-color/">Color map (alpha!)</a>
  </div>

  <!-- Loop over ontologyMetadata -->
  <div class="ontology-metadata">
    <h3>Metadata</h3>
    <div class="metadata">
      <!-- Rows -->
      {% if rows %} {% for row in rows %}
      <div class="row">
        <div class="cell property-cell">
          {% if row.property.href %}
          <a
            href="{{row.property.href}}"
            target="{% if row.property.is_external == True %}_blank{% endif %}"
          >
            <span> {{row.property.name}} </span>
            {% if row.property.is_external == True %}
            <div class="external-link-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                height="12px"
                width="12px"
              >
                <path
                  fill="#666"
                  d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"
                />
              </svg>
            </div>
            {% endif %}
          </a>
          {% else %}
          <span>{{row.property.name}}</span>
          {% endif %}
        </div>

        <div class="cell value-cell">
          {% for value in row.vals %} {% if value.color %}
          <span class="color-block" style="background-color: {{value.color}};"></span>
          {% endif %} {% if value.href %}
          <a
            href="{{value.href}}"
            target="{% if value.is_external == True %}_blank{% endif %}"
          >
            <span> {{value.name}} </span>
            {% if value.is_external == True %}
            <div class="external-link-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                height="12px"
                width="12px"
              >
                <path
                  fill="#666"
                  d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"
                />
              </svg>
            </div>
            {% endif %}
          </a>
          {% else %}
          <span>{{value.name}}</span>
          {% endif %} {% if not loop.last %}<span>,&nbsp;</span> {% endif %} {% endfor %}
        </div>
      </div>
      {% endfor %} {% endif %}
      <!-- End Rows -->
      <!-- Contributors -->
      {% if contributorRoles %} {% for row in contributorRoles %}
      <div class="row">
        <div class="cell property-cell">
          {% if row.property.href %}
          <a
            href="{{row.property.href}}"
            target="{% if row.property.is_external == True %}_blank{% endif %}"
          >
            <span> {{row.property.name}} </span>
            {% if row.property.is_external == True %}
            <div class="external-link-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                height="12px"
                width="12px"
              >
                <path
                  fill="#666"
                  d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"
                />
              </svg>
            </div>
            {% endif %}
          </a>
          {% else %}
          <span>{{row.property.name}}</span>
          {% endif %}
        </div>
        <div class="col-cell value-cell">
          <!-- Contributors -->
          {% for contributor in row.contributors %}
          <p class="contributor-row">
            <!-- Name -->
            <span>{{contributor.name.name}}</span>
            <!-- Identifier -->
            {% if contributor.identifier %} {% if contributor.identifier.name %}
            <a href="{{contributor.identifier.href}}" class="id-icon">
              <svg
                width="15px"
                height="15px"
                viewBox="0 0 72 72"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <title>Orcid logo</title>
                <g
                  id="Symbols"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="hero"
                    transform="translate(-924.000000, -72.000000)"
                    fill-rule="nonzero"
                  >
                    <g id="Group-4">
                      <g id="vector_iD_icon" transform="translate(924.000000, 72.000000)">
                        <path
                          d="M72,36 C72,55.884375 55.884375,72 36,72 C16.115625,72 0,55.884375 0,36 C0,16.115625 16.115625,0 36,0 C55.884375,0 72,16.115625 72,36 Z"
                          id="Path"
                          fill="#A6CE39"
                        ></path>
                        <g
                          id="Group"
                          transform="translate(18.868966, 12.910345)"
                          fill="#FFFFFF"
                        >
                          <polygon
                            id="Path"
                            points="5.03734929 39.1250878 0.695429861 39.1250878 0.695429861 9.14431787 5.03734929 9.14431787 5.03734929 22.6930505 5.03734929 39.1250878"
                          ></polygon>
                          <path
                            d="M11.409257,9.14431787 L23.1380784,9.14431787 C34.303014,9.14431787 39.2088191,17.0664074 39.2088191,24.1486995 C39.2088191,31.846843 33.1470485,39.1530811 23.1944669,39.1530811 L11.409257,39.1530811 L11.409257,9.14431787 Z M15.7511765,35.2620194 L22.6587756,35.2620194 C32.49858,35.2620194 34.7541226,27.8438084 34.7541226,24.1486995 C34.7541226,18.1301509 30.8915059,13.0353795 22.4332213,13.0353795 L15.7511765,13.0353795 L15.7511765,35.2620194 Z"
                            id="Shape"
                          ></path>
                          <path
                            d="M5.71401206,2.90182329 C5.71401206,4.441452 4.44526937,5.72914146 2.86638958,5.72914146 C1.28750978,5.72914146 0.0187670918,4.441452 0.0187670918,2.90182329 C0.0187670918,1.33420133 1.28750978,0.0745051096 2.86638958,0.0745051096 C4.44526937,0.0745051096 5.71401206,1.36219458 5.71401206,2.90182329 Z"
                            id="Path"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
            {% endif %} {% endif %}
            <!-- End Identifier -->
            <!-- Email -->
            {% if contributor.email %} {% if contributor.email.name %}
            <wbr />
            <span class="contributor-info-item">
              <a href="mailto:{{contributor.email.name}}" class="email-icon">
                ({{contributor.email.name}})
              </a>
            </span>
            {% endif %}{% endif %}
            <!-- Affiliation -->
            {% if contributor.affiliation %} {% if contributor.affiliation.name %}
            <wbr />
            <span class="contributor-info-item">
              <span>&nbsp;of</span>
              <a href="{{contributor.affiliation.href}}" class="email-icon">
                {{contributor.affiliation.name}}
              </a>
            </span>
            {% endif %}{% endif %}
            <!-- homepage -->
            {% if contributor.homepage %} {% if contributor.homepage.name %}
            <wbr />
            <span class="contributor-info-item">
              <span>&#127968;</span>
              <a href="{{contributor.homepage.href}}" class="email-icon">
                {{contributor.homepage.name}}
              </a>
            </span>
            {% endif %}{% endif %}
          </p>
          {% endfor %}
        </div>
      </div>
      {% endfor %} {% endif %}
      <!-- End Contributors -->
    </div>

    <!-- homepage_classes -->
    {% if homepage_classes %}
    <div class="homepage_classes">
      <h2>Classes</h2>
      {% for class in homepage_classes %}
      <span
        ><a href="{{class.href}}">{{class.name}}</a>{% if not loop.last %}, {% endif
        %}</span
      >
      {% endfor %}
    </div>
    {% endif %}
    <!-- homepage_object_properties -->
    {% if homepage_object_properties %}
    <div class="homepage_object_properties">
      <h2>Object Properties</h2>
      {% for property in homepage_object_properties %}
      <span
        ><a href="{{property.href}}">{{property.name}}</a>{% if not loop.last %}, {% endif
        %}</span
      >
      {% endfor %}
    </div>
    {% endif %}
    <!-- homepage_data_properties -->
    {% if homepage_data_properties %}
    <div class="homepage_data_properties">
      <h2>Data Properties</h2>
      {% for property in homepage_data_properties %}
      <span
        ><a href="{{property.href}}">{{property.name}}</a>{% if not loop.last %}, {% endif
        %}</span
      >
      {% endfor %}
    </div>
    {% endif %}

    <!-- Iterate over instances dictionary and print them -->
    {% if instances %}
    <div class="instances">
      <h2>Individuals</h2>
      {% for instanceSet in instances %}
      <div>
        <h3>{{instanceSet.label}}</h3>
        {% for instance in instanceSet.instances %}
        <span class="list-item">
          {% if instance.color %}
          <span class="color-block" style="background-color: {{instance.color}};"></span>
          {% endif %}
          <a href="{{instance.href}}">{{instance.name}}</a>
          {% if not loop.last %}, {% endif %}
        </span>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
