{% extends "base.html" %} {% block color_contents %}
<div>
  <h1>Color finder</h1>
  <!-- Buttons container -->
  <div id="buttons-container"></div>
  <!-- Div to attach color-circles visualisation to -->
  <div id="color-circles-container"></div>
  <!-- Include JS for circles -->
  <script src="./circles.js"></script>
</div>
{% endblock %}
