{% extends "base.html" %} {% block body_contents %}
<div>
  <div class="title-box">
    {% if hslValue %}
    <div class="color-block lrg" style="background-color: {{hslValue}};"></div>
    {% endif %}
    <h1>{{title}}</h1>
  </div>
  <p class="iri"><span class="bold">IRI: </span><span>{{iri}}</span></p>
  {% if instanceClass %}
  <p class="an-entity-of-type">
    <span>An entity of type </span>
    <a href="{{instanceClass.href}}">{{instanceClass.label}}</a>
  </p>
  {% endif %}
  <!-- Rows -->
  <div class="metadata">
    {% if rows %} {% for row in rows %}
    <div
      class="row{% if loop.first %} first-row{% endif %}{% if loop.last %} last-row{% endif %}"
    >
      <div class="cell property-cell">
        {% if row.property.href %}
        <a
          href="{{row.property.href}}"
          target="{% if row.property.is_external == True %}_blank{% endif %}"
        >
          <span> {{row.property.name}} </span>
          {% if row.property.is_external == True %}
          <div class="external-link-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              height="12px"
              width="12px"
            >
              <path
                fill="#666"
                d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"
              />
            </svg>
          </div>
          {% endif %}
        </a>
        {% else %}
        <span>{{row.property.name}}</span>
        {% endif %}
      </div>

      <div class="cell value-cell">
        {% for value in row.vals %}
        <span class="list-item">
          {% if value.color %}
          <span class="color-block" style="background-color: {{value.color}};"></span>
          {% endif %} {% if value.href %}
          <a
            href="{{value.href}}"
            target="{% if value.is_external == True %}_blank{% endif %}"
          >
            <span> {{value.name}} </span>
            {% if value.is_external == True %}
            <div class="external-link-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                height="12px"
                width="12px"
              >
                <path
                  fill="#666"
                  d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"
                />
              </svg>
            </div>
            {% endif %}
          </a>
          {% else %}
          <span>{{value.name}}</span>
          {% endif %} {% if not loop.last %}<span>,&nbsp;</span> {% endif %}
        </span>
        {% endfor %}
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
  <!-- End Rows -->

  <!-- Members -->
  {% if members %}
  <div class="members">
    <h2>Members</h2>
    {% for instance in members %}
    <span class="list-item">
      {% if instance.color %}
      <span class="color-block" style="background-color: {{instance.color}};"></span>
      {% endif %}
      <a href="{{instance.href}}">{{instance.name}}</a>
      {% if not loop.last %}, {% endif %}
    </span>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
