.view-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view-option {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 17%;
}

/* MOBILE */
@media screen and (max-width: 700px) {
  .view-options {
    flex-direction: column;
  }

  .view-option {
    width: auto;
    margin-bottom: 1rem;
  }
}
