#navbar {
  padding: 20px;
  background-color: white;
  width: 100%;
  height: 60px;
  color: white;
  box-shadow: 0 0 2px 1px rgba(140, 140, 140, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  position: fixed;
  z-index: 2;
  top: 0px;
}

#navbar-menu-items {
  display: flex;
  flex-direction: row;
}

#navbar-site-title {
  margin-left: 10px;
  color: #444;
  cursor: pointer;
  font-size: 1.5rem;
}

#navbar-site-title:hover {
  color: black;
}

#logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#logo img {
  width: 100%;
  height: 100%;
}

.navbar-icon {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#app-name-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-icon button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
}

#app-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#app-logo {
  height: 40px;
  width: auto;
}

#navbar-links {
  display: flex;
  align-items: center;
}

#navbar-links a {
  text-decoration: underline;
}

.navbar-item {
  margin-left: 10px;
  color: #444;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item:hover {
  color: black;
}

/* Responsive top nav */

#mobile-hamburger {
  color: black;
  display: none;
  font-size: 24px;
  padding: 0px;
}
#mobile-navbar-close-btn {
  font-size: 24px;
  padding: 0px;
}

#mobile-navbar {
  color: black;
  display: none;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: white;
  height: 100vh;
  width: 70vw;
  padding: 20px;
  border-left: 1px solid #ccc;
}

#mobile-navbar.hide {
  animation: slideout;
  display: block;
  animation-duration: 0.5s;
  transform: translate(100%);
}
#mobile-navbar.show {
  display: block;
  animation: slidein;
  animation-duration: 0.5s;
}

@media (max-width: 800px) {
  .navbar-item {
    margin-left: 0px;
    margin: 10px 0px;
    display: block;
  }

  #mobile-hamburger {
    color: black;
    display: block;
  }
  #navbar-links .navbar-item {
    display: none;
  }
}
@keyframes slidein {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes slideout {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(100%);
  }
}
