.title-box {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 1rem 0rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.row:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top: 1px solid #ccc;
}

.row:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.cell {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.col-cell {
  padding: 0.5rem;
}

.contributor-row {
  display: block;
  margin: 0px;
}

.contributor-row:not(:first-child) {
  margin-top: 0.75rem;
}

.property-cell a {
  cursor: help;
}

.property-cell {
  width: 30%;
}

.value-cell {
  width: 70%;
}

.comment {
  font-style: italic;
}

.an-entity-of-type {
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

/* MOBILE STYLES */

@media screen and (max-width: 700px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0rem;
  }
  .row:first-child {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .row:last-child {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
  .cell {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0rem;
  }
  .col-cell {
    width: 100%;
    padding: 0rem;
  }
  .property-cell {
    margin-bottom: 0.5rem;
  }
}
