body {
  font-family: sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

h1 {
  /* font-family: "albertan-pro", sans-serif; */
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-style: italic;
}

a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.external-link-wrapper {
  margin-left: 0.5rem;
}

.color-block {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.color-block.lrg {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  flex: none;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 1rem;
  box-sizing: border-box;
}

.color-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 1rem;
  box-sizing: border-box;
}

.color-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.iri {
  font-size: 0.9rem;
  font-style: italic;
  margin: 0rem 0rem 1rem 0rem;
}

.list-item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.id-icon {
  margin-right: 0.125rem;
  margin-left: 0.125rem;
}

.contributor-info-item {
  white-space: nowrap;
}

/* COLOR GRID */

#color-circles-container {
  width: 100%;
  height: 500px;
  display: grid;
  /* Grid is 24 across, 11 down */
  grid-template-columns: repeat(72, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.lightness-circle {
  display: inline-flex;
  flex-wrap: wrap;
}

.circle-segment {
  display: inline-block;
  width: 33%;
  height: 33%;
}

.color-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}
